input {
    font-size: 16px;
    padding-left:5px;
}

#sign-in-dialog {
    padding: 0px;
    width: 400px;
    position: absolute;
    text-align: center;
}

#sign-in-form {
    margin: 15px;
    padding: 5px;
}

#close-button {
    height: 25px;
    width: 25px;
}

#submit {
    height: 25px;
}

#create_account_pointer_container {
    text-align: center;
}

#header-bar {
    background-color: #c23838;
    height: 25px;
    width: 100%;
}